entry {
    caret-color: #3689e6;
}

textview {
    caret-color: #3689e6;
}

progressbar trough {
    border-radius: 4px;
}

radio {
    border-color: gray;
    background-color: transparent;
}

button {
    border-radius: 4px;
}

.source-button {
    border-radius: 0px 3px 3px 0px;
}

.no-border {
    border-radius: 0px;
}

.planner-button {
    background-color: #404f64;
}

menu {
    background: #404f64;
    box-shadow: none;
    border-radius: 0;
}

menu image {
    opacity: 1;
}

popover {
    border-radius: 6px;
}

window.popup {
    border-radius: 7px;
}

window.rounded decoration {
    border-radius: 4px;
}

window.popup decoration {
    border-radius: 0;
    box-shadow: none;
}

menuitem:active,
menuitem:hover,
modelbutton:active,
modelbutton:hover,
.menuitem:active,
.menuitem:focus:active,
.menuitem:hover {
    background-color: #363F56;
}

menu {
    background-color: #404f64;
}

.sidebar-header {
    background-color: #404f64;
}

.sidebar-header:dir(ltr) {
    border-top-right-radius: 0;
}

.sidebar-header:dir(rtl) {
    border-top-left-radius: 0;
}

.projectview-header {
    background-color: #363F56;
}

.projectview-header:dir(ltr) {
    border-top-left-radius: 0;
}

.projectview-header:dir(rtl) {
    border-top-right-radius: 0;
}

paned {
    background-color: #363F56;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


paned.vertical > separator {
    background-image:
        linear-gradient(
            @menu_separator -2px,
            @menu_separator_shadow 1px,
            @menu_separator_shadow 2px,
            transparent 2px
        );
    margin-bottom: 0px;
    min-height: 1px;
}

paned.horizontal > separator {
    background-image:
        linear-gradient(
            to right,
            @menu_separator 1px,
            @menu_separator_shadow 1px,
            @menu_separator_shadow 2px,
            transparent 2px
        );
    margin-right: 0px;
    min-width: 1px;
}

.pane {
    background-color: #404f64;
    border-bottom-left-radius: 4px;
}

.pane:dir(rtl) {
    border-bottom-right-radius: 4px;
}

/*
    Pane
*/

.pane-item {
    padding-top:.2em;
    padding-bottom:.2em;
}

.pane-area {
    font-weight: 700;
}

.pane-entry {
    background-color: #404f64;
    color: #fefeff;
    padding-left: 0px;
}

.pane-entry:focus {
    border-bottom: 1px solid alpha (@colorAccent, 0.8);
    box-shadow: none;
}

.pane-row {
    transition: all 250ms ease-in-out;
    background-color: transparent;
}

.action-row {
    background: transparent;
    transition: all 250ms ease-in-out;
}

.action-row:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.label-row {
    background: transparent;
    transition: all 250ms ease-in-out;
}

.pane-row button {
    background-color: transparent;
}

.pane-row:selected .pane-item {
    font-weight: 600;
}

.pane-row:selected label {
    font-weight: 600;
}

.pane-row:selected {
    background-color: #3C4359;
    color: #fefeff;
    border-radius: 6px;
}

.project-row {
    transition: all 250ms ease-in-out;
    background-color: transparent;
}

.project-row:hover {
    transition: all 250ms ease-in-out;
    background-color: #3C4359;
	border-radius: 6px;
}

.project-row label {
    color: #fefeff;
}

.project-row image {
    color: #fefeff;
}

.project-row:selected {
    transition: all 250ms ease-in-out;
    background-color: #363F56;
	    border-radius: 6px;
}

.project-selected {
    background-color: transparent;
    border-radius: 6px;
    color: #fefeff;
    font-weight: 600;
}

.header-row {
    transition: all 140ms ease-in-out;
    background-color: transparent;
}

.hidden-button {
    background-color: transparent;
}

.hidden-button image {
    transition: all 150ms ease-in-out; 
}

.hidden-button image {
    color: #fefeff;
}

.hidden-button.opened image {
    -gtk-icon-transform: rotate(90deg);
}

.text_color {
    color: #fefeff;
}

/*
    Item Row
*/

.item-row {
	background: #404f64;
	border-radius: 0;
}

.transition {
    transition: all 115ms ease-in-out;
}

.item-row:selected {
    background-color: transparent;
    color: #fefeff;
}

.item-row:selected image {
    color: #fefeff;
    opacity: 0.7;
}

.item-row-selected {
    border: none;
    border-radius: 0;
    background-color: #404f64;
    padding-top: 6px;
    padding-left: 6px;
    margin-left: 2px;
    margin-right: 6px;
}

/*
    Check Row
*/

.check-row {
    background-color:transparent;
}
/*
    Area Row
*/

.area-row {
    background-color: transparent;
}

.area-row:selected {
    color: #fefeff;
}

/*
    Animations
*/

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}

@keyframes add-animation {
    0% { -gtk-icon-transform: rotate(0deg); }
    100% { -gtk-icon-transform: rotate(180deg); }
}

.is_loading {
    animation: spin 1000ms linear infinite;
}

/*
    OAuth Dialog
*/

.oauth-dialog {
    background-color: #404f64;
}

.preferences-dialog {
    background-color: #404f64;
}

.project-dialog {
    background-color: #363F56;
}

.project-dialog headerbar {
    background-color: #363F56;
}

.text-color {
    color: #fefeff;
}

.quick-find {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    background-color: #404f64;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 12px;
    text-shadow: none;
}

.quick-find list {
    background-color: #404f64;
}

.quick-find entry {
    border-radius: 4px;
}

.settings-button {
    border-radius: 50%;
    padding: 4px;
	background: transparent;
}

.add-project-widget {
    border-radius: 6px;
    border: 1px solid #637384;
    box-shadow: none);
    text-shadow: none;
    background-color: #404f64;
}

.color-radio radio,
.color-radio radio:checked {
    border-color: alpha (#000, 0.3);
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        0 1px 0 0 alpha (@accentColor, 0.3);
    padding: 3px;
    -gtk-icon-shadow: none;
}

.color-radio radio:focus {
    border-color: @colorAccent;
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        inset 0 0 0 1px alpha (@accentColor, 0.05),
        0 1px 0 0 alpha (@accentColor, 0.3),
        0 0 0 1px alpha (@accentColor, 0.25);
}

.color-radio-dialog radio,
.color-radio-dialog radio:checked {
    padding: 6px;
}

.sync-image-rotate {
    -gtk-icon-transform: rotate(45deg);
}

.font-bold {
    font-weight: bold;
}

.mode-button button:checked {
    background-image:
        linear-gradient(
            to bottom,
            #363F56
        );
    border-color: shade (#363F56, 0.8);
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        0 1px 0 0 alpha (#404f64, 0.3);
    color: @selected_fg_color;
    text-shadow: 0 1px alpha (#000, 0.3);
    -gtk-icon-shadow: 0 1px alpha (#000, 0.3);
}

.project-textview text {
    background-color: #363F56;
    transition: all 250ms ease-in-out;
}

.note-grid {
    border: 1px solid @menu_separator;
    border-radius: 4px;
}

.new-item-entry {
    border-width: 0px 0px 0px 0px;
    background-color: #363F56;
}

.new-item-entry:focus {
    border-color: transparent;
    box-shadow: none;
}

.new-item-entry image.right {
    background-image:
        linear-gradient(
            to bottom,
            #3689e6
        );
    border-radius: 50%;
    color: #fff;
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.textview text {
    background-color: #404f64;
}

.actionbar {
    background-color: #404f64;
}

.content-entry {
    color: #fefeff;
    border-width: 0px 0px 0px 0px;
    background-color: #404f64;
}

.entry-no-border {
    border-width: 0px 0px 0px 0px;
}

.content-entry:focus {
    border-color: transparent;
    box-shadow: none;
}

.listbox {
    background-color: #363F56;
}

.grid-motion {
    background-color: #3C4359;
    border-radius: 4px;
}

.drag-begin {
    background-color: #404f64;
    border: 1px solid @menu_separator;
    border-radius: 5px;
    box-shadow:
        0 0 0 1px alpha (#000, 0.05),
        0 3px 3px alpha (#000, 0.22);
}

.check-button,
.due-button,
.label-button {
    font-weight: 500;
}

.check-button image,
.due-button image,
.label-button image {
    color: #fefeff;
    opacity: 0.7;
}

.delete-check-button {
    background-color: #fefeff;
    color: #404f64;
    border-radius: 50%;
    padding: 0px;
}

.delete-check-button image {
    color: #404f64;
    transition: all 240ms ease-in-out;
}

.delete-check-button.closed image {
    -gtk-icon-transform: rotate(-90deg);
}

.highlight {
    box-shadow: none;
    color: #fefeff;
    border-radius: 6px;
    background-color: #404f64;
}

.item-action-button {
    background-color: transparent;
}

/*
    Calendar Style
*/

.calendar-today {
    color: @colorAccent;
    border-radius: 6px;
    padding: 3px;
    font-weight: bold;
}

.calendar-day-selected {
    background-color: @colorAccent;
    color: #fafafa;
    border-radius: 6px;
    padding: 3px;
}

.search-icon {
    background-color: #fa1955;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.inbox-icon {
    background-color: #3689e6;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.completed-icon {
    background-color: #25b84c;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.all-tasks-icon {
    background-color: #28bca3;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.today-icon {
    background-color: #ffaa00;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px;
}

.upcoming-icon {
    background-color: #692fc2;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.trash-icon {
    background-color: #485a6c;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.due-clear {
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.inbox {
    color: #3689e6;	
}

.today {
    color: #ffaa00;
}

.upcoming {
    color: #a970ff;
}

.due-label {
    font-weight: 600;
}

.fancy-turn-animation:hover image {
    animation: fancy-turn 0.7s ease-in-out;
}

.magic-button-animation:hover image {
    animation: add-animation 0.7s ease-in-out;
}

.project-icon {
    background-color: #3689e6;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.area-icon {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.magic-button {
    border-radius: 50%;
    padding: 5px;
	background-color: #404f64;
}

.label-button {
    background-color: alpha (#fefeff, 0.08);
    border-radius: 12px;
    padding: 0px 6px 0px 6px;
    color: #fefeff;
    opacity: 0.7;
}

.check-eventbox {
    background-color: alpha (#3689e6, 0.25);
    border-radius: 4px;
}

.check-border check {
    border-radius: 4px;
    border: 1px solid gray;
}

.check-eventbox-border {
    border: 1px solid alpha (#3689e6, 0.45);
}

.check-entry {
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-bottom: none;
}

.check-entry.active {
    padding-left: 0px;
}

.new-entry {
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-bottom: none;
}

.header-entry {
    background-color: #363F56;
    padding-left: 0px;
    border-bottom: none;
}

.menu-button {
    padding: 3px;
}

.project-name-entry {
    padding-left: 0px;
    padding-top: 0px;
    background-color: #363F56;
}

.project-name-entry:focus {
    border-bottom: 1px solid alpha (@colorAccent, 0.8);
    box-shadow: none;
}

.title-label {
    font-size: 1.3em;
}

.duedate-upcoming {
    color: #fefeff;
}

.duedate-upcoming image {
    color: #fefeff;
}

.overdue {
    color: #fa1955;
    font-weight: bold;
}

.overdue-label {
    color: #fa1955;
}

.badge-expi#404f64 {
    background-color: #fa1955;
    color: #ffffff;
    border-radius: 50px;
}

.checklist-button check {
    border-radius: 4px;
    border-color: gray;
    background-image:
        linear-gradient(
            to bottom,
            shade (
                #404f64,
                0.99
            ),
            shade (
                #404f64,
                0.97
            )
        );
}

.checklist-border check {
    border-radius: 4px;
}

.checklist-check check {
    border: 1px solid gray;
}

.checklist-check check:checked {
    border-color: shade (#3689e6, 0.9);
}

.label-row {
    background-color: #404f64;
}

.label-row label {
    color: #fefeff;
}

.planner-dialog headerbar {
    padding: 0px;
}

.font-weight-600 {
    font-weight: 600;
}

.label-item {
    border-radius: 12px;
    border: 1px solid alpha (@fg_color, 0.45);
    padding: 0px 9px 0px 3px;
    font-weight: 600;
    color: #fefeff;
}

.no-padding {
    padding: 0px;
}

.item-hover {
    background-color: #3689e6;
    border-radius: 3px;
}

.label-item-button {
    background-color: transparent;
}

.preferences-view {
    background-color: #404f64;
}

.preference-item-radio {
    border-top: 1px solid @menu_separator;
    border-bottom: 1px solid @menu_separator_shadow;
    margin-bottom: -1px;	
    padding: 7px 6px 6px 12px;
    background-color: shade (#404f64, 1.1);
    font-weight: 600;
}

.active-switch slider {
    min-height: 16px;
    min-width: 16px;
}

.info-bar-button {
    color: #fff;
}

.item-complete {
    text-decoration:line-through;
}

.label-danger {
    color:#ed5353;
}

.planner-switch slider {
    min-height: 16px;
    min-width: 16px;
}

.popover-model-button {
    padding-left: 9px;
}

.circle {
    border-radius: 50%;
}

.label-line-through {
    text-decoration: line-through;
}

.menu-danger:hover {
    background-color: transparent;
    color: #ed5353;
}

.menu-danger:hover image {
    color: #ed5353;
}

/*
    Label Select
*/

.label-select-row:selected {
    background-color: #3C4359;
}

.row-transparent:selected {
    background-color: transparent;
}

.row-transparent:selected label {
    color: #fefeff;
}

.label-select-row:selected label {
    color: #fefeff;
}

.searchitem-row:selected {
    background-color: #404f64;
    color: #fefeff;
}

.dialog-patch decoration {
    box-shadow: none;
    margin: 1px;
}

.quick-find-dialog {
    border-radius: 6px;
}

.quick-find-dialog entry {
    border-radius: 4px;
}

@keyframes highlight-item {
    0%   { background-color: #404f64; }
    50%  { background-color: #363F56; }
    100% { background-color: #404f64; }
}

.item-highlight {
    border-radius: 4px;
    animation: highlight-item 0.7s ease-in-out;
}

.name-entry {
    background: #404f64;
}
.description text {
    background-color: #404f64, 1.15;
}

.description-dialog text {
    background-color: #404f64;
}

.border-radius-4 {
    border-radius: 4px;
}

.due-menuitem {
    padding: 1px 0px 1px 6px;
}

.popover-background {
    background-color: #404f64;
}

.repeat-image {
    -gtk-icon-transform: rotate(45deg);
}

.edi-label-button {
    border-radius: 0px 3px 3px 0px;
}

.project-progress-view {
    border-radius: 50%;
    border: 1.5px solid #fefeff;
}

.close-button {
    padding: 2px;
    border: none;
    border-radius: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: none;
    margin: 0;
}

.notification-image {
    background-color: #404f64;
    padding: 3px;
    border-radius: 4px;
    color: #fefeff;
}

.border-radius-4 {
    border-radius: 4px;
}

.checklist-completed check {
    border-radius: 4px;
}

.checklist-completed check:checked {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                #25b84c,
                1.2
            ),
            #25b84c
        );
    border-color: shade (#25b84c, 0.9);
    box-shadow:
        inset 0 0 0 1px shade (#25b84c, 1.15),
        inset 0 1px 0 0 shade (#25b84c, 1.3),
        0 1px 1px 0 shade (#404f64, 0.85);
    color: #fff;
    -gtk-icon-source: -gtk-icontheme("check-active-symbolic");
    -gtk-icon-shadow: 0 1px 1px shade (#25b84c, 0.85);
}

.completed-label {
    color: #25b84c;
}

.cancel-button {
    background-image:
        linear-gradient(
            to bottom,
            #404f64
        ); 
}

.priority-4 check {
    border-radius: 4px;
    border-color: #ff7066;
    background: rgba (255, 112, 102, 0.1);
}

.priority-3 check {
    border-radius: 4px;
    border-color: #ff9a14;
    background: rgba (255, 154, 20, 0.1);
}

.priority-2 check {
    border-radius: 4px;
    border-color: #5297ff;
    background: rgba (82, 151, 255, 0.1);
}

.priority-1 check {
    border-radius: 4px;
    border-color: gray;
    background: transparent;
}

.today-icon-button {
    background-color: #ffaa00;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px;
}

.today-icon-item {
    background-color: #ffaa00;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.5px;
}

.today-label-button {
    color: #ffaa00;
    font-weight: bold;
}

.upcoming-label-button {
    font-weight: bold;
    color: #a970ff;
}

.priority-1-icon image {
    color: #ff7066;
}

.priority-1-icon {
    color: #ff7066;
}

.priority-2-icon image {
    color: #ff9a14;
}

.priority-2-icon {
    color: #ff9a14;
}

.priority-3-icon image {
    color: #5297ff;
}

.priority-3-icon {
    color: #5297ff;
}

.priority-4-icon image {
    color: #fefeff;
}

.priority-4-icon {
    color: #fefeff;
}

.header {
    color: #3689e6;
}

.grid-linked button:last-child {
    border-radius: 0px 4px 4px 0px;
}

.grid-linked button:first-child {
    border-radius: 4px 0px 0px 4px;
}

.slim-mode-button {
    border: 1px solid shade (#404f64, 0.95);
    padding: 0px;
    background: #404f64;
    border-radius: 4px;
}

.edit-button {
    background: transparent;
    padding: 0px;
}

.transparent {
    background: transparent;
}

@keyframes toggle-animation {
    0% {
    	box-shadow: none;
        background-color: transparent;
    }
    50% {
	    background-color: alpha (#3689e6, 0.094);
    }
    100% {
	    box-shadow: none;   
        background-color: transparent;
    }
}

.toogle-box {
    border-radius: 6px;
}

.toogle-box.active {
    animation: toggle-animation 0.75s ease-in-out;
}

.pane-due-button {
    background-color: #3C4359;
    color: #fefeff;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    font-weight: 600;
}

.release-dialog {
    background-color: #363F56;
}

.release-dialog headerbar {
    background-color: #363F56;
}

.release-dialog textview text {
    background-color: #363F56;
}

.release-dialog textview {
    background-color: #363F56;
}

.release-dialog entry {
    background: #363F56;
}

.keyboardkey {
    color: #fff;
    background: rgba(48,51,54,.85);
    border-radius: .3em;
    font-size: 85%;
    text-shadow: 0 1px @text_shadow_color;
    padding: 3px 6px 4px;
    min-width: 12px;
}

.item-ctrl-selected {
    background-color: #3C4359;
    border-radius: 6px;
}

.multi-select-toolbar-button {
    background-color: transparent;
    color: #404f64;
}

.multi-select-toolbar-button label {
    color: #404f64;
}

.app-notification spinner {
    color: #404f64;
}

.app-notification.error {
    background-color: #ff8c82;
}

.app-notification.error label {
    color: #7a0000;
}

.background-transparent {
    background-color: transparent;
}

.note-textview {
    background-color: #363F56;
}

.note-textview text {
    background: alpha (#3689e6, 0.25);
}

.line-through {
    text-decoration: line-through;
}
